<% if Rails.env.production? %>
    <script type="text/javascript"><!--
    google_ad_client = "<%= ENV['FAMN_AD_CLIENT'] %>";
    google_ad_slot = "<%= ENV['FAMN_AD_SLOT'] %>";
    google_ad_width = <%= ENV['FAMN_AD_WIDTH'] %>;
    google_ad_height = <%= ENV['FAMN_AD_HEIGHT'] %>;
    //-->
    </script>
    <script type="text/javascript" src="<%= ENV['FAMN_AD_SCRIPT'] %>">
    </script>
<% else %>
    <h3>広告エリア</h3>
<% end %>
