<% if Rails.env.production? %>
    <% if ENV['FAMN_GOOGLE_AD_SLOT'] %>
        <div class="ad_gadget">
          <script type="text/javascript"><!--
          google_ad_client = "<%= ENV['FAMN_GOOGLE_AD_CLIENT'] %>";
          google_ad_slot   = "<%= ENV['FAMN_GOOGLE_AD_SLOT'] %>";
          google_ad_width  = <%= ENV['FAMN_GOOGLE_AD_WIDTH'] %>;
          google_ad_height = <%= ENV['FAMN_GOOGLE_AD_HEIGHT'] %>;
          //-->
          </script>
          <script type="text/javascript" src="<%= ENV['FAMN_AD_SCRIPT'] %>">
          </script>
        </div>
    <% end %>
    <% if ENV['FAMN_VALUE_COMMERCE_GADGET'] %>
        <div class="ad_gadget">
          <script src="http://ad.jp.ap.valuecommerce.com/servlet/jsgadget?<%= ENV['FAMN_VALUE_COMMERCE_GADGET'].html_safe %>">
          </script>
        </div>
    <% else %>
        <% (0..5).each do |i| %>
            <% if ENV["FAMN_VALUE_COMMERCE_FRAGMENT_#{i}"] %>
                <div class="ad_gadget">
                  <iframe frameborder="0"
                          allowtransparency="true"
                          height="60"
                          width="234"
                          scrolling="no"
                          src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?<%= ENV["FAMN_VALUE_COMMERCE_FRAGMENT_#{i}"].html_safe %>"
                          marginheight="0"
                          marginwidth="0">
                    <script language="javascript"
                            src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?<%= ENV["FAMN_VALUE_COMMERCE_FRAGMENT_#{i}"].html_safe %>">
                    </script>
                    <noscript>
                      <a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?<%= ENV["FAMN_VALUE_COMMERCE_FRAGMENT_#{i}"].html_safe %>"
                         target="_blank" >
                        <img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?<%= ENV["FAMN_VALUE_COMMERCE_FRAGMENT_#{i}"].html_safe %>"
                             height="60"
                             width="234"
                             border="0">
                      </a>
                    </noscript>
                  </iframe>
                </div>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <h3>広告エリア</h3>
<% end %>
